.task{
  background-color: #ccc;
  margin-top: 10px;
  padding: 10px 5px;
  cursor:pointer;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.task h2{
  text-justify: auto;
  text-align: center;
  font-size: 1.25em;
}

.task.reminder{
  border-left: 5px solid green
}

.controls{
  display: flexbox;
  
}

.faTimes{
  display: block;
  color:rgb(255, 17, 17);
  font-size: 1.2em;
  padding: 2px;
}

.faEdit{
  display: block;
  color:rgb(0, 151, 156);
  font-size: 1.2em;
  padding: 2px;
}

.faCheck{
  display: block;
  color:#09ff00;
  font-size: 1.2em;
  padding: 2px;
}